name: Build and Test Spring Boot Application

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./gradle-test

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "gradle"
      - run: ./gradlew build --no-daemon

  publish-image:
    runs-on: ubuntu-latest
    needs: ["build"]
    defaults:
      run:
        shell: bash
        working-directory: ./gradle-test

    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          file: ./gradle-test/Dockerfile
          context: ./gradle-test
          push: true
          tags: gershonomsc/mygradleapp:stable
